h1{font-family: "Lucida Handwriting", cursive, sans-serif;}

header{background-color: grey;}

.navbar{ 
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;}