h1 {
    font-family: "Lucida Handwriting", cursive, sans-serif;
    
}

h2 {
    
}

h3 {
    /* Start with making basic adjustments to our headers */     
}

h4 {

}
body { 
    background-image: url(C:\Users\Kareem\Pictures\Food Insecurity.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
}