h1 {
  font-family: "Comic San MS", cursive, sans-serif;
  text-decoration: underline;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "Comic San MS", Cursive, sans-serif;
  color: black;
}

.bg-image {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

hr { 
  height: 1px;
  color: black;
  background-color:black;
  border: none;
}

h3 {
  text-align: center;
}

.navbar{ 
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 10px 50px 20px;
    padding: 0;
    text-align: center;}

.column {
    float: left; 
    width: 50%;
}

.row:after{ 
    content: "";
    display: table;
    clear: both;
}

html,
body {
  padding: 0;
  margin: 0;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: green;
}